body {
    background-color:#d0e4fe;
}

input {
     width: 100px;
}

.articleRadio {
    vertical-align: text-bottom;
    width: 20px;
    margin-bottom: 2px;
    margin-bottom: -2px\9;
}

select {
    width: 300px;
}

#addArticleTitle {
    width: 300px;
}

#articleManagement {
    height: 120px;
    width: 100%
}